<div style="padding: 4px; padding-left: 16px; margin: 8px; background: lavender;">
<h2>Do you want to talk to the one and only, legendary stupid coach?</h2>
  <p> <%= link_to "Talk to the coach", ask_path %> </p>
</div>
